h1 {
    color: #007bff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h5 {
    color: #007bff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.App {
    font-family: sans-serif;
    text-align: center;
  }
  
.dialog {
    box-shadow: 0 8px 6px -6px black;
    position: static;
    left: 20%;
    top: 10%;
}

.small-resume {
    width: 300px;
    height: 404px;
}

.large-resume {
    position: absolute;
    width: 600px;
    left:50%; 
    top:50%;
    margin-left:-296px;
    margin-top:-202px;
    padding-bottom: 140px;
}
  