.image { 
    position: absolute; 
    width: 100%; /* for IE 6 */
}

html {
    background-color: gray;
}

.background-gray {
    background-color: gray;
}

h2 { 
    position: relative; 
    top: 100px; 
    left: 0; 
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 0;
}

h2 span { 
    color: white; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.4);
    padding: 5px;
    text-shadow: -1.4px 0 black, 0 1.4px black, 1.4px 0 black, 0 -1.4px black;
}

.test {
    position: relative; 
    top: 200px; 
    left: 0; 
    width: 100%;
    text-align: center;
    justify-content: center;
}

.modal-dialog{
    text-align:center;
}

.modal-content{
    display:inline-block;
}

@media screen and (max-width: 768px) {
    /* The body's bg color will be #333 */
  .screen {
      padding-bottom: 100px;
      margin-bottom: 100px;
  }
}

@media screen and (max-width: 1024px) {
    /* The body's bg color will be #333 */
  .screen2 {
    padding-bottom: 100px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1186px) {
    /* The body's bg color will be #333 */
  .screen2 {
    padding-bottom: 100px;
    margin-bottom: 100px;
  }
}